---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import ProjectCard from '../components/ProjectCard.astro';
import SkillCard from '../components/SkillCard.astro';
import { projects } from '../data/projects.ts';
import { skillCategories } from '../data/skills.ts';
---

<BaseLayout>
  <header>
    <p id="logo">L</p>
    <nav id="nav-links">
      <a href="#" class="nav-active">Home</a>
      <a href="#projects">Projects</a>
      <a href="#skills-page">Tools & Skills</a>
    </nav>
    <a href="https://github.com/LinusElisteWester" target="_blank">
      <img id="github-logo" src="/images/github-logo.svg" />
    </a>
  </header>

  <section id="hero">
    <div id="introduction">
      <h2>Hi, I'm Linus</h2>
      <h1><span>Junior</span> Developer</h1>
      <p id="hero-tagline">A Swedish junior developer with a passion for tech and problem solving.</p>
      <h2 id="about-me">About Me</h2>
      <p>
        Hi, I'm Linus, a 19-year-old student at NTI Gymnasiet Uppsala.
        I've always been curious about how technology works and enjoy exploring how things work behind the scenes.
        I spent three years studying Information and Media Technology and
        I am now working towards becoming an <a href="https://ntigymnasiet.se/program/gymnasieingenjorsprogrammet/" class="underline-link" target="_blank">upper secondary school engineer.</a>
      </p>
      <div id="hero-buttons-container">
        <a href="#contact" class="btn">Contact Me</a>
        <a href="#projects" class="btn btn-secondary">My Projects</a>
      </div>
    </div>
    <div id="hero-image">
      <img src="/images/linus.jpg" alt="Photo of Me, Linus" />
    </div>
  </section>

  <section id="projects">
    <h3>Projects</h3>
    <div class="project-grid">
      {projects.map(p => <ProjectCard {...p} />)}
    </div>
  </section>

  <section id="skills-page">
    <h3>Tools & Skills</h3>
    <div id="skills-container">
      {skillCategories.map(category => (
        <div class="skills-category">
          <h4>{category.title}</h4>
          <div class="skills-box">
            {category.skills.map(skill => <SkillCard {...skill} />)}
          </div>
        </div>
      ))}
    </div>
  </section>

  <section id="contact">
    <h3>Contact</h3>
    <p>Do you want to collaborate or just say hi? Get in touch!</p>
    <p><a href="mailto:linusew.dev@gmail.com"><img src="/images/email-logo.svg" /></a> linusew.dev@gmail.com</p>
    <p><a href="https://github.com/LinusElisteWester" target="_blank"><img src="/images/github-logo.svg" /></a> LinusElisteWester</p>
    <a href="mailto:linusew.dev@gmail.com" class="btn">Send Email</a>
  </section>

  <footer>
    © 2026 Linus Eliste Wester – Portfolio
  </footer>
</BaseLayout>